.days {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #409EFF;
    text-decoration: underline;
}

/deep/ .el-dialog {
    min-width: 952px;
}
