.table {
    padding: 0 20px;
    margin-bottom: 20px;
}

.data {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    &-item {
        width: calc(100% /3);
        text-align: center;
    }
}

.subject-name {
    color: #409EFF;
    text-decoration: underline;
    cursor: pointer;
}

/deep/ .el-table td,
/deep/ .el-table th {
    padding: 0;
}
