/deep/ .input {

  width: 700px;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .input-item {
    width: 310px;
    margin-right: 40px;

    &:last-child {
      width: 310px;
    }
  }

  .el-select {
    display: block;
  }

}