.list {
    padding-top: 30px!important;
}

.capture-img {
  width: 72px;
  height: 72px;
}

.operations {
  height: 80px!important;
}

/deep/ .el-date-editor {
  width: 100%;
}

.month-btn {
    margin-left: 10px;
}
