<template>
    <div class="container">
        <div class="filter">
            <span class="title">检索条件</span>
            <div class="conditions-operation clearfix">
                <div class="conditions">
                    <el-form
                            ref="form"
                            :model="conditions"
                            label-width="80px"
                            label-position="right"
                            size="small"
                            @keyup.enter.native="searchByConditions()"
                    >
                        <el-form-item label="姓名" prop="name">
                            <el-input v-model="conditions.name" />
                        </el-form-item>
                    </el-form>
                </div>
                <div class="search">
                    <el-button
                            class="form-btn"
                            type="primary"
                            icon="el-icon-search"
                            @click="searchByConditions()"
                    >
                        搜索
                    </el-button>
                    <el-button icon="el-icon-refresh" class="reset-btn" type="primary" @click="resetForm('form')">
                        重置
                    </el-button>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="operations">
                <el-button
                        size="small"
                        type="primary"
                        icon="el-icon-plus"
                        class="operation-btn"
                >
                    新增
                </el-button>
            </div>

            <el-table
                    v-loading="loading"
                    border
                    stripe
                    :data="pageData ? pageData.content : []"
                    empty-text="没有数据"
            >
                <el-table-column label="序号" type="index" align="center" width="84px" />
            </el-table>

            <div class="pagination">
                <el-pagination
                        background
                        layout="total, prev, pager, next, jumper, sizes"
                        :total="pageData ? pageData.totalElements : 0"
                        :current-page.sync="conditions.page"
                        @current-change="changePage"
                        @size-change="changeSize"
                />
            </div>
        </div>
    </div>
</template>

<script>
export { default } from './{{viewName}}.js';
</script>

<style lang="scss" scoped>
    @import "~@/styles/baseinfo.common.scss";
    @import "./{{viewName}}.scss";
</style>
