/deep/ .el-form-item {
    display: inline-block;

    &__content {
        width: 200px;
    }
}

/deep/ .el-input__inner {
    width: 200px;
}

/deep/ .el-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
