.header {
    display: flex;
    flex-direction: row;

    .el-form {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &-item {
            margin-right: 10px;
        }
    }

    //操作
    .btns {
        width: 126px;
        display: flex;
        align-items: center;
    }
}

.list {
    position: relative;
    background-color: #fff;
    min-height: 300px;
    padding: 30px 30px 100px;
    border-radius: 8px;

    .operations {
        display: flex;
        flex-direction: row-reverse;
        padding: 20px 0;
    }

    .pagination {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 34px 0;
        display: flex;
        flex-direction: row-reverse;
    }
}


// 重置el-form-item__content的width
/deep/ .el-form-item__content {
    width: 140px;
}

.th:first-child {
    .cell {
        width: 68px;
    }
}
