.el-dialog__body {
    display: flex;
    justify-content: center;
}

/deep/ .el-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/deep/ .name,
.el-form-item__content
{
    width: 440px;
}

.el-input {
    width: 220px!important;
}
